@{
    ViewBag.Title = "Films";
}

<!-- Example row of columns -->
<div class="row-fluid">
<div class="span2">
    <h3>Film 1</h3>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />   
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p>    
</div>
<div class="span2">
    <h2>Film 2</h2>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />    
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p> 
</div>
<div class="span2">
    <h2>Film 3</h2>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />    
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p> 
</div>
<div class="span2">
    <h2>Film 4</h2>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />    
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p> 
</div>
<div class="span2">
    <h2>Film 5</h2>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />        
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p> 
</div>
<div class="span2">
    <h2>Film 5</h2>
    <img src="@Url.Content("~/Content/images/noimage-140x200.png")" />    
    <p><input class="btn" value="Rent &raquo;" type="submit" /></p> 
</div>
</div>

<hr>
